// Button
.btn {
  display: block;
  padding: 4px 48px;
  color: #fff;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  white-space: nowrap;
  border-radius: 12px;
  box-shadow: 0 0 16px var(--secondary-light);
  transition: all 0.2s;
  &-primary {
    @extend .btn;
    background-color: var(--secondary);
    &:hover {
      background-color: var(--primary);
      box-shadow: 0 0 48px var(--secondary-light);
    }
  }
  &-xl {
    padding: 12px 48px;
  }
  &-sm {
    font-size: 20px;
  }
}

.btn-solid {
  display: block;
  padding: 4px 48px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border: 1px solid var(--secondary);
  border-radius: 12px;
  transition: all 0.2s;
  &-w {
    @extend .btn-solid;
    color: #fff;
    border-color: #fff;
    &:hover {
      border-color: var(--secondary);
      box-shadow: 0 0 48px var(--secondary-light);
    }
  }
}

// Icon
.icon-arrow-w {
  display: block;
  border-left: 4px solid #fff;
  border-top: 4px solid #fff;
  &-left {
    @extend .icon-arrow-w;
    transform: rotate(-45deg);
  }
}
