*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif TC', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.underline-link {
  display: inline-flex;
  transition: text-shadow 0.2s;
  cursor: pointer;
  &:hover {
    text-shadow: 0px 0px 24px var(--secondary-light);
  }
  span {
    text-decoration: underline;
  }
}

.linear-bg-color {
  background: linear-gradient(210deg, #613400 0%, #a05700 100%);
  padding: 48px 60px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 30%;
    max-width: 362px;
    height: 680px;
    background-repeat: no-repeat;
    background-image: url('~@/assets/images/circle-bg-1.png');
    background-size: contain;
    background-position: left top;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  &::after {
    content: '';
    display: block;
    width: 50%;
    max-width: 540px;
    height: 268px;
    background-repeat: no-repeat;
    background-image: url('~@/assets/images/circle-bg-2.png');
    background-position: right bottom;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 8%;
    pointer-events: none;
  }
}

.shadow-box {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 12px var(--primary);
}

.divider {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 2px;
  border: none;
  background-color: var(--secondary);
}

/* =====================
Width
========================== */
@for $i from 1 through 40 {
  .w-#{$i * 4} {
    width: $i * 4px;
  }
}

@for $o from 1 through 20 {
  .w-#{$o *5}p {
    width: $o * 5%;
  }
}

/* =====================
Height
========================== */
@for $i from 1 through 40 {
  .h-#{$i * 4} {
    height: $i * 4px;
  }
}

@for $o from 1 through 20 {
  .h-#{$o *5}p {
    height: $o * 5%;
  }
}
